#!/usr/bin/env ruby

# General
preprocess do
  items.delete_if { |item| item[:publish] == false } # allow to make unpublished articles
  copy_static # add assets to the output directory
  create_tag_pages # create tag pages
  #add_update_item_attributes # add update time to items
end


# RSS feed
compile '/blog/feed/' do
  filter :erb
end

route '/blog/feed/' do
  '/blog/feed.xml'
end


# Blog
compile '/blog/' do
  filter :erb  
  layout 'blog'
end

compile '/blog/tags/*' do
  filter :erb  
  layout 'blog'
end

compile '/blog/*' do
  layout 'blog_article'
end


# General 
compile '*' do
  filter :erb
  layout 'default'
end

route '*' do
  item.identifier + 'index.html'
end

layout '*', :erb
