#!/usr/bin/env ruby

# RSS feed
compile '/blog/feed/' do
  filter :erb
end

route '/blog/feed/' do
  '/blog/feed.xml'
end


# Blog
compile '/blogs/*', :rep => :summary do
  rep.layout 'blog_summary'
end

compile '/blog/*' do
  filter :erb
  layout 'blog'
end


# General 
compile '*' do
  filter :erb
  layout 'default'
end

route '*' do
  item.identifier + 'index.html'
end

layout '*', :erb
