--- 
title: Lelylan Developers
priority: 1.0
---

<%= render 'headers/home' %>
<%= render 'partials/invitation' %>

<div id="page">
  <div id="features">
    <h2 class="title what">
      <a href="/features/">Features - What can you do with Lelylan</a>
    </h2>
    <ul class="content">
      <li id="rethink" class="box">
        <a href="/features/#services">
          <span class="strap">REST WEB SERVICES</span>
          <span class="label">re<span>T</span>hink <span>Y</span>our <span>H</span>ouse</span>
        </a>
        <span class="fl">1</span>Connect your house to the web using a clear, consistent and 
        simple set of REST API. Add all of your devices 
        and let them talk to each other. Create new services and solve challenges domotics 
        faces today. <a href="/features/#services" class="dest">More →</a>
      </li>

      <li id="communicate" class="box">
        <a href="/features/#unitenodes"><span class="strap">DEVICES COMMUNICATE</span> 
        <span class="label"><span>W</span>eb as <span>S</span>tandard</span></a>
        <span class="fl">2</span>Use the web as gateway to hide complexities on physical 
        devices. Prototype new solution with open source hardware like 
        <a href="http://arduino.cc">Arduino</a>. Integrate existing domotics systems 
        and let them talk to each other. <a href="/features/#unitenodes" class="dest">More →</a>
      </li>

      <li id="mashups" class="box">
        <a href="/features/#mashups"><span class="strap">MASHUPS AND UI</span> 
        <span class="label"><span>S</span>peed <span>U</span>p <span>I</span>nnovation</span></a>
        <span class="fl">3</span>Develop solutions based on web, mobile, energy saving, 
        spatial motion interaction, augmented reality, speech recognition, 
        smart surfaces and neural based interfaces. All solutions are up to 
        your imagination. <a href="/features/#mashups" class="dest">More →</a>
      </li>

      <li id="control" class="box last">
        <a href="/features/#innovation"><span class="strap">BE THE CHANGE</span> 
        <span class="label"><span>R</span>each <span>T</span>he <span>C</span>ontrol</span></a>
        <span class="fl">4</span>If you are the kind of person that likes to have 
        control over every aspect of your life, we create a way to access your 
        house with no limitations. Lelylan gives to anyone the chance to create
        your future house. <a href="/features/#innovation" class="dest">More →</a>
      </li>

    </ul>
  </div>

  <div id="collaborations">
    <h2 class="title why">
      <a href="/collaborations/">Collaborate with Lelylan and innovate home automation</a>
    </h2>


    <ul class="content">
      <li id="developers" class="box">
        <a href="/collaborations/#developers"><span class="strap">Web developers</span> 
        <span class="label"><span>UI</span>, <span>M</span>ashups and <span>S</span>ervices</span></a>
        <span class="fl">C</span>ool UI, experimental user interactions, smart energy 
        savings rules, useful raccomandations and accessible houses. 
        <a href="/collaborations/#developers" class="dest">Join us →</a>
      </li>

      <li id="suppliers" class="box last">
        <a href="/collaborations/#suppliers"><span class="strap">Hardware suppliers</span> 
        <span class="label"><span>C</span>onnect <span>A</span>ll <span>D</span>evices</span></a>
        <span class="fl">C</span>onnect new devices using Zigbee, ZWave, Konnex, Lonworks
        or any other protocol and hack with <a href="http://arduino.cc">Arduino</a>. 
        <a href="/collaborations/#suppliers" class="dest">Join us →</a>
      </li>
      <li class="text-box">
        <div class="image-content headline">
          <h1>You are innovation</h1>
          <p>Hack, experiment and enjoy creating new solutions on top of Lelylan</p>
        </div>
        <!--<img src="/images/collaborations.png"/>-->
        <div style="float:left; width: 210px; padding: 0 25px 0 0;">
          <p class="description">
            Nowadays domotics companies create devices that do not speak to each other.
            Outcomes are visible as complexities, few services, high prices and a big confusion 
            for the final user.
          </p>
        </div>
        <div style="float:rigth">
          <p class="description">
            We truly believe that to spread home automation everyone should get into the game. 
            If you have the knowledge and the ideas to innovate, be part of this change.
            <a href="/collaborations/" class="dest">Join us →</a>
          </p>
        </div>
      </li>
    </ul>
  </div>

  <div id="latest">
    <h2 class="title blog">
      <a href="/blog/">The latest news from Lelylan</a>
    </h2>
    <ul class="content">
      <% @site.sorted_articles[0, 8].each_with_index do |post, i| %>
      <li class="post two-cols box <%= 'last' if ((i+1)%2 == 0) %>">
        <a href="<%= post.path %>">
          <span class="strap"><%= post[:title] %></span>
          <span class="label"><%= post.subtitle %>
        </a>
      </li>
      <% end %>
    </ul>
  </div>

  <%= render 'partials/footer' %> 
</div>

