--- 
title: Lelylan Developers
priority: 1.0
---


<div id="presentation">
  <div class="disclaimer">
    <p>
      Connect your house to the web using a consistent and clear REST API
      and start building mashups and services for home automation
      <a href='#' class="button" id='prefinery_apply_link'>Sign up for beta →</a>
    </p>
  </div>
</div>


<div id="features">
  <ul id="content">
    <li id="rethink" class="box">
      <a href="/features/"><span class="strap">Think at a new house</span>
      <span class="label"><span>C</span>hange <span>T</span>he <span>R</span>ules</span></a>
      <span class="fl">C</span>onnect your house to the web using a clear, consistent and 
      simple set of <a href="http://dev.lelylan.com">REST API</a>. Add all of your devices 
      and let them talk to each other. Create new services and solve challenges domotics 
      faces today. <a href="/features/" class="dest">More →</a>
    </li>

    <li id="communicate" class="box">
      <a href="/features/"><span class="strap">Use the web as standard</span> 
      <span class="label"><span>E</span>verything <span>C</span>ommunicate</span></a>
      <span class="fl">U</span>se the web as gateway to hide complexities on physical 
      devices. Prototype new solution with open source hardware like 
      <a href="https://arduino.cc">Arduino</a>. Integrate existing domotics systems 
      and let them talk to each other. <a href="/features/" class="dest">More →</a>
    </li>

    <li id="mashups" class="box">
      <a href="/features/"><span class="strap">Speed up innovation</span> 
      <span class="label"><span>M</span>ash <span>Y</span>our <span>H</span>ome <span>U</span>p</span></a>
      <span class="fl">D</span>evelop solutions based on web, mobile, energy saving, 
      spatial motion interaction, augmented reality, speech recognition, 
      smart surfaces and neural based interfaces. All solutions are up to 
      your imagination. <a href="/features/" class="dest">More →</a>
    </li>

    <li id="control" class="box last">
      <a href="/features/"><span class="strap">Reach the control</span> 
      <span class="label"><span>B</span>e <span>P</span>art <span>O</span>f 
      <span>T</span>his <span>C</span>hange</span></a>
      <span class="fl">I</span>f you are the kind of person that likes to have 
      control over every aspect of your life, now, we create a way to access your 
      house with no limitations. Lelylan gives to anyone the chance to create
      your future house. <a href="/features/" class="dest">More →</a>
    </li>

    <li class="box large social">
      <i><a class="twitter-link" href="http://twitter.com/lelylan">Follow us on Twitter</a>
      and if you believe in our ideas share your thoughts with the crowd</i>
      <%= render 'partials/addthis' %>
    </li>

  </ul>
</div>


<h2 class="title why">
  <a href="/features/">Why to be a Lelylan developer</a>
</h2>

<%= render 'partials/prefinery' %>
