#main { float:left; width:640px; margin: 20px 10px 20px 0px; }
#main h1 { margin: 10px 0 10px 0; font-weight: normal; }
#main p { margin-bottom: 10px; }
#main div.article { margin: 15px 0px; }
#main div.summary { margin-bottom: 30px; }

#sidebar { text-align: right; float:right; width:296px; margin: 20px 0px 20px 0px; }
#sidebar h3 { margin-bottom: 10px; }
#sidebar div#subscriptions { margin-bottom: 25px; }
#sidebar a.button { margin: 5px 0px; }
#sidebar ul { list-style-type: none; }
