/* 1.BODY and PAGE
---------------------------------------------------------------------- */

* { margin: 0; padding: 0; font-family: Georgia, Palatino, Times, 'Times New Roman', sans-serif;}
body { text-rendering:optimizeLegibility; font-size:15px; line-height:22px; color:#333; background:#FFFAFA; }

/* 2.LAYOUT
---------------------------------------------------------------------- */

div#page { width:946px; margin:0px auto; padding:0px 17px 10px 17px;}

/* 3.LINKS
---------------------------------------------------------------------- */

a { text-decoration: none; }
a:link, a:visited { color: #087; }
a:hover { color: #f90; }

/* 4.HEADER
---------------------------------------------------------------------- */

div#header { background-color: #087; }
div#content-header { width:946px; margin:0px auto; padding:0px 15px 10px 15px; }

#content-header { height: 56px; width: 100%; background-color: #087; color: #FFF;}
#content-header div.logo { float: left; padding-top: 10px; }
#content-header div.menu { float: right; font-size: 15px; margin-top: 30px; }
#content-header div.menu a { margin: 0px 5px; color: #FFF; }
#content-header div.menu a:link, #header-header div.menu a:visited { color: #FFF; }
#content-header img { border: none; }

/* 5.A. BOX CONTENTS
---------------------------------------------------------------------- */

ul li a span.strap { display:block; text-align:center; font-style:italic; }
ul li a span.label { display:block; text-align:center; padding:2px 0 105px 0; font-size:12px; font-weight:normal; font-style:normal; text-transform:uppercase; letter-spacing:1px; color:#000; }
ul li span.label span { display:inline; font-size:15px; }
ul li span.label span.kern-a { display:inline; font-size:15px; letter-spacing:0px; }
ul li span.label span.kern { display:inline; font-size:12px; letter-spacing:0px; }
a.arch { line-height:22px; }
.fl { float:left; margin:7px 4px 0 0; padding:0; font-size:65px;  line-height:62%; color:#087; }
.fs { float:left; margin:7px 4px 10px 0; padding:0; font-size:65px; line-height:62%; color:#087; }
@-moz-document url-prefix() {
.fl { float:left; margin:12px 4px 0 0; padding:0; font-size:65px;  line-height:62%; color:#087; }
.fs { float:left; margin:12px 4px 10px 0; padding:0; font-size:65px; line-height:62%; color:#087; }
}

/* 5.B. BOX STRUCTURE
---------------------------------------------------------------------- */

ul li.box{ line-height:18px; float:left; width:207px; padding:10px; border:1px solid #DDD; color:#333; margin:0 10px 0 0; -webkit-box-shadow: 1px 1px 7px rgba(153, 153, 153, 0.2); -moz-box-shadow: 1px 1px 7px rgba(153, 153, 153, 0.2); box-shadow: 1px 1px 7px rgba(153, 153, 153, 0.2); border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; }
ul li.box:hover { background-color: rgb(255, 255, 255); opacity:1.0; background-position:center -30px; }
ul li.last { margin:0; }


/* 6.NAVIGATION
---------------------------------------------------------------------- */

ul#content { clear:both; float:left; list-style-type:none; margin:12px 0 30px 0; padding:0px 0 58px 0;}
.home ul#content { margin:12px 0 0 0; padding:0 0 41px 0; background:transparent; }
.external ul#content { margin:12px 0 10px 0; padding:0; background:transparent; }

/* 7.SITEINFO/FOOTER
---------------------------------------------------------------------- */

div#siteinfo { position:relative; clear:both; text-align:center; padding:25px 0 0px 0; color:#333;}
div#siteinfo p { margin:0; padding:0; }

/* 8.FORMS
---------------------------------------------------------------------- */

form { margin:0; padding:0; }
label { display:block; font-weight:normal; font-style:italic; margin:10px 0 0 0; padding:5px 5px 5px 0; font-size:15px; }
fieldset { margin: 20px 0 0 0; padding:0; border:0px solid #CCC; }
.contact div#content_pri fieldset { margin: 30px 0 0 0; }
.contact div#content_pri input, #from, #subject, #message, .journal div#content_pri input, #name, #email, #url, #comment { padding:5px; font-family:"Times New Roman", Times, serif; font-size:15px; line-height:22px; color:#333; background:#FFFAFA; border-top:0px dashed #FFF; border-right:0px dashed #FFF; border-bottom:1px dashed #CCC; border-left:0px dashed #999; }
#from, #subject, #name, #email, #url { width:500px; }
#message, #comment { width:500px; }
.contact div#content_pri input.go, .journal div#content_pri input.go { margin-top:10px; border-top:0px dashed #FFF; border-right:0px dashed #FFF; border-bottom:0px dashed #999; border-left:0px dashed #999; }
.contact div#content_sec p.vcard { margin-top:0; padding-top:0; }
p.vcard span.role, p.vcard span.fn { display:none; }
ul li.mf a { background:url(../images/site/hcard.gif) no-repeat center right; padding-right:19px; }

/* 10.TITLES
---------------------------------------------------------------------- */
h2.ext-dests { clear:both; text-indent:-9999px; }
h2.ext-dests a { display:block; height:20px; margin:16px 0 10px 0; padding:0; }
div.disclaimer p {text-align: center; letter-spacing: 1px; line-height: 34px; font-size: 26px; color: #087; margin-bottom: 15px; }
div.disclaimer a {font-size: 20px; margin-left: 4px; }
