--- 
title: Collaborations
sidebar: collaborations
menu: collaborations
header: collaborations
priority: 0.8
---

<%= render 'headers/home' %>
<%= render 'partials/invitation' %>

<div id="textual" class="collaborations-page">
  <div>
    <h2 id="developers">Engeneers and designers</h2>
    <p>
      Right now we are focused on building a secure, solid and consistent API so that you 
      can build apps on top of it. If you have passion and knowledge about mobile, social, 
      voice recognition, eye tracking, smart surfaces, augmented reality, pseudo natural 
      language, neural based interfaces, spatial motion interaction, smart surfaces or more
      just experiment and let us know. We are continuosly seeking for smart people to start 
      collaborations with.
    </p>
    <p>
      <a href="http://dev.lelylan.com/" class="button big">Check out Lelylan API →</a>
    </p>
  </div>

  <div>
    <h2 id="suppliers">Hardware suppliers</h2>
    <p>
      Lelylan access phisical devices through <a href="http://dev.lelylan.com/unite_nodes/">
      Unite Nodes</a>. Even if we have all the information to define Unite Nodes, 
      a strong technological knowledge is needed to cover a specific protocol. For this 
      reason it's important to find hackers and suppliers to cover the largest number of 
      devices. 
      Once a supplier connects their devices to Lelylan, the outcomes clearly consist in the 
      ability to offer all services surrounding Lelylan as product to their customers.
    </p>
    <p>
      <a href='http://dev.lelylan.com/unite_nodes/' class="button big">Check out Unite Node API →</a>
    </p>
  </div>

  <div>
    <h2 id="innovators">Hackers and innovators</h2>
    <p>
      Lelylan encourage users who share an affinity towards innovation. People with 
      technological background, a passion for home automation and opensource 
      hardware like Arduino are always welcome. We can build the  best services only with 
      your support.
    </p>
    <p>
      <a href='http://dev.lelylan.com/community/' class="button big">Join our community →</a>
    </p>
  </div>

  <div>
    <h2 id="venture">Venture Capitalist</h2>
    <p>
      We are a startup and we are searching for your money. If reading those pages gives you the
      feeling we can build something great together, get in touch with us writing a mail to 
      <b>touch@lelylan.com</b> or a tweet to <b>@lelylan</b>.
    </p>
    <p>
      <a href='http://dev.lelylan.com/community/' class="button big">Read more about us →</a>
    </p>
  </div>
</div>

<%= render 'partials/prefinery' %>
