ul li#rethink a span.label { background:url(/images/boxes/rethink.png) repeat-x center bottom; }
ul li#communicate a span.label { background:url(/images/boxes/communicate.png) repeat-x center bottom; }
ul li#mashups a span.label { background:url(/images/boxes/mashups.png) repeat-x center bottom; }
ul li#control a span.label { background:url(/images/boxes/control.png) repeat-x center bottom; }

