<div class="about-page">
  <div class="image-content headline">
    <h1>We are here because of your needs</h1>
    <p>A project based on the insane idea that home automation should be for everyone</p>
  </div>
</div>

<div id="social" class="centered">
  <div class="social-icons" style="float:left; margin-bottom: 25px;">
    <%= render 'partials/addthis',
        :path => 'http://lelylan.com',
        :title => 'REST services to connect your house to the web - #lelylan reThink your house'%>
  </div>
  <div class="disclaimer" style="float:right;">
    <a href='http://dev.lelylan.com/' class="button">Check out Lelylan API →</a>
  </div>

  <h2 class="title separator">
    <a>About - What is Lelylan</a>
  </h2>
</div>
