    <div id="overview">
      <div class="container centered">
        <div id="headline" class="home">
          <h1>Lelylan, reThink your house</h1>
          <p>
            A platform to connect your house to the web through a clear, consistent and 
            simple set of API. Create mashups, connect devices and experiment new solutions
            to speed up innovation in home automation.
          </p>
        </div>
      </div>
    </div>

    <div id="advertise" class="centered">
      <div class="container">
        <p style="text-align: center;">
          <span class="magenta">&lt;hackers&gt;</span>
          <span class="green">
            Lelylan is designed to collaborate with the best minds to rethink the way we will live tomorrow’s house.
            <a href="/collaborations/">Be one of them.</a>
          </span>
          <span class="magenta">&lt;/hackers&gt;</span>
        </p>
      </div>
    </div>
