
<div class="addthis_toolbox addthis_default_style" 
  style="float: right; padding-top: 0px;"
  addthis:url="http://lelylan.com"
  addthis:title="Lelylan - REST API for the connected home">
  <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
  <a class="addthis_button_tweet" tw:via="lelylan"></a>
  <a class="addthis_counter addthis_pill_style"></a>
</div>

<script type="text/javascript">var addthis_share = {templates: {twitter: '{{title}} {{url}} (via @lelylan)'}};</script>
<script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4e1da33f6bf19888"></script>
