    <div id="header">
      <div id="content-header">
        <div class="logo"><a href="/"><img src="/images/logo.png"/></a></div>
        <div class="menu">
          <a href="/features/">Features</a>
          <a href="/blog/">Blog</a>
          <!--<a href="/apps/">App Store</a>-->
          <a href="/collaborations/">Collaborations</a>
          <a href="/jobs/">Jobs</a>
          <a href="/about/">About us</a> |
          <a href="http://dev.lelylan.com">Developers</a> 
        </div>
      </div>
    </div>
