<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Language" content="en-us">
    <meta name="description" content="Lelylan, reThink your house. A solution to connect your house to the web through a set of REST web services">
    <meta name="author" content="Lelylan">
    <meta name="copyright" content="Copyright © Lelylan">
    <meta name="viewport" content="width=device-width">

    <title>Lelylan Blog | <%= @item[:title] %></title>

    <link href="/stylesheets/screen.css" type="text/css" rel="stylesheet" media="screen">
    <link href="/stylesheets/boxes.css" type="text/css" rel="stylesheet" media="screen">
    <link href="/stylesheets/gh-buttons.css" type="text/css" rel="stylesheet" media="screen">
    <link href="/stylesheets/titles.css" type="text/css" rel="stylesheet" media="screen">
    <link href="/stylesheets/blog.css" type="text/css" rel="stylesheet" media="screen">
    <!--[if IE 6]><link href="/stylesheets/screen-ie6.css" type="text/css" rel="stylesheet" media="screen" /><![endif]-->
    <!--[if IE 7]><link href="/stylesheets/screen-ie7.css" type="text/css" rel="stylesheet" media="screen" /><![endif]-->
    <!--[if IE 8]><link href="/stylesheets/screen-ie8.css" type="text/css" rel="stylesheet" media="screen" /><![endif]-->

    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/onload.js"></script>
    <script type="text/javascript" src="/javascripts/scrollto.js"></script>
    <!--[if IE 6]><script type="text/javascript" src="/javascripts/belatedpng-0.0.7a.js"></script><![endif]-->
    <!--[if IE 6]><script type="text/javascript" src="/javascripts/ie6.js"></script><![endif]-->

    <%= render 'partials/analytics' %>
  </head>
  
  <body class="home">
    <%= render 'partials/menu' %>
    <div id="page">
      <div id="main">
        <%= render 'partials/article_header', :item => @item %>
        <%= yield %>

        <div class="tag-buttons">
          <%= render 'partials/addthis', 
              :title => @item[:title] + ' - ' + @item[:subtitle],
              :path => 'http://lelylan.com/' + @item.path %>
        </div>
        
        <div class="more">
          <p><b>You could be interested to the following topics</b></p>
          <div class="tag-buttons">
            <% if @item[:tags] %>
              <% @item[:tags].each do |tag| %>
                <a href="/blog/tags/<%= tag %>/" class="button big"><%= capitalize_tag(tag) %></a>
              <% end %>
            <% end %>
          </div>
        </div>

        <%= render 'partials/disquis' %> 
      </div>
      <div id="sidebar">
        <div id="subscriptions">
          <h3>Subscribe to</h3>
          <p class="rss"><a href="/blog/feed.xml">RSS Feed</a></p>
          <p class="twitter"><a href="http://twitter.com/lelylan">Twitter</a></p>
          <a href="http://eepurl.com/gelHH">Newsletter</a>
        </div>
        <div id="tags">
          <h3>Read more about</h3>
          <ul>
            <% tag_set.each do |tag| %>
            <li><a href="/blog/tags/<%= tag %>/" class="button big <%= 'active' if name(@item)==tag%>"><%= capitalize_tag(tag) %></a></li>
            <% end %>
          </ul>
        </div>
      </div>
      <%= render 'partials/footer' %> 
    </div>
  </body>
</html>
