<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Language" content="en-us">
    <meta name="description" content="Lelylan, reThink your house. A solution to connect your house to the web through a set of REST web services">
    <meta name="author" content="Lelylan">
    <meta name="copyright" content="Copyright © Lelylan">
    <meta name="viewport" content="width=device-width">

    <title>Lelylan Blog | <%= @item[:title] %></title>

    <link href="/stylesheets/screen.css" type="text/css" rel="stylesheet" media="screen">
    <link href="/stylesheets/boxes.css" type="text/css" rel="stylesheet" media="screen">
    <link href="/stylesheets/gh-buttons.css" type="text/css" rel="stylesheet" media="screen">
    <link href="/stylesheets/titles.css" type="text/css" rel="stylesheet" media="screen">
    <link href="/stylesheets/blog.css" type="text/css" rel="stylesheet" media="screen">
    <!--[if IE 6]><link href="/stylesheets/screen-ie6.css" type="text/css" rel="stylesheet" media="screen" /><![endif]-->
    <!--[if IE 7]><link href="/stylesheets/screen-ie7.css" type="text/css" rel="stylesheet" media="screen" /><![endif]-->
    <!--[if IE 8]><link href="/stylesheets/screen-ie8.css" type="text/css" rel="stylesheet" media="screen" /><![endif]-->

    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/onload.js"></script>
    <script type="text/javascript" src="/javascripts/scrollto.js"></script>
    <!--[if IE 6]><script type="text/javascript" src="/javascripts/belatedpng-0.0.7a.js"></script><![endif]-->
    <!--[if IE 6]><script type="text/javascript" src="/javascripts/ie6.js"></script><![endif]-->
    
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-12181910-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  
  <body class="home">
    <%= render 'partials/menu' %>
    <div id="page">
      <div id="main">
        <%= render 'partials/article_header', :item => @item %>
        <%= yield %>
        <div id="disqus_thread"></div>

        <script type="text/javascript">
            var disqus_shortname = 'lelylan'; 
            //var disqus_identifier = '<%= name(@item)%>';
            var disqus_url = '<%= item.identifier %>';

            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
        
      </div>
      <div id="sidebar">
        <div id="subscriptions">
          <h3>Subscribe to</h3>
          <p class="rss"><a href="/blog/feed.xml">RSS Feed</a></p>
          <p class="twitter"><a href="http://twitter.com/lelylan">Twitter</a></p>
          <p class="ml"><a href="/">Mailing list</a></p>
        </div>
        <div id="tags">
          <h3>Read more about</h3>
          <ul>
            <% tag_set.each do |tag| %>
            <li><a href="/blog/tags/<%= tag %>/" class="button big <%= 'active' if name(@item)==tag%>"><%= capitalize_tag(tag) %></a></li>
            <% end %>
          </ul>
        </div>
      </div>
      <%= render 'partials/footer' %> 
    </div>
  </body>
</html>
