<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Language" content="en-us">
    <meta name="description" content="Lelylan, reThink your house. A solution to connect your house to the web through a set of REST web services">
    <meta name="author" content="Lelylan">
    <meta name="copyright" content="Copyright © Lelylan">
    <meta name="viewport" content="width=device-width">

    <title>Lelylan | <%= @item[:title] %></title>

    <link href="/stylesheets/bootstrap.min.css" type="text/css" rel="stylesheet" media="screen">
    <link href="/stylesheets/screen.css" type="text/css" rel="stylesheet" media="screen">
    <link href="/stylesheets/boxes.css" type="text/css" rel="stylesheet" media="screen">
    <link href="/stylesheets/gh-buttons.css" type="text/css" rel="stylesheet" media="screen">
    <link href="/stylesheets/titles.css" type="text/css" rel="stylesheet" media="screen">
    <!--[if IE 6]><link href="/stylesheets/screen-ie6.css" type="text/css" rel="stylesheet" media="screen" /><![endif]-->
    <!--[if IE 7]><link href="/stylesheets/screen-ie7.css" type="text/css" rel="stylesheet" media="screen" /><![endif]-->
    <!--[if IE 8]><link href="/stylesheets/screen-ie8.css" type="text/css" rel="stylesheet" media="screen" /><![endif]-->

    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/onload.js"></script>
    <script type="text/javascript" src="/javascripts/scrollto.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap-twipsy.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap-popover.js"></script>
    <!--[if IE 6]><script type="text/javascript" src="/javascripts/belatedpng-0.0.7a.js"></script><![endif]-->
    <!--[if IE 6]><script type="text/javascript" src="/javascripts/ie6.js"></script><![endif]-->

    <%= render 'partials/analytics' %>
  </head>
  
  <body class="home">
    <%= render 'partials/menu' %>
    <%= yield %>
    <%= render 'partials/prefinery' %>
    <%= render 'partials/getsatisfaction' %>
  </body>
</html>
