<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Language" content="en-us">
    <meta name="description" content="Lelylan, reThink your house. A solution to connect your house to the web through a set of REST web services">
    <meta name="author" content="Lelylan">
    <meta name="copyright" content="Copyright © Lelylan">
    <meta name="viewport" content="width=device-width">

    <title>Lelylan | reThink your house</title>

    <link href="/stylesheets/screen.css" type="text/css" rel="stylesheet" media="screen">
    <link href="/stylesheets/boxes.css" type="text/css" rel="stylesheet" media="screen">
    <link href="/stylesheets/gh-buttons.css" type="text/css" rel="stylesheet" media="screen">
    <link href="/stylesheets/titles.css" type="text/css" rel="stylesheet" media="screen">
    <!--[if IE 6]><link href="/stylesheets/screen-ie6.css" type="text/css" rel="stylesheet" media="screen" /><![endif]-->
    <!--[if IE 7]><link href="/stylesheets/screen-ie7.css" type="text/css" rel="stylesheet" media="screen" /><![endif]-->
    <!--[if IE 8]><link href="/stylesheets/screen-ie8.css" type="text/css" rel="stylesheet" media="screen" /><![endif]-->

    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/onload.js"></script>
    <script type="text/javascript" src="/javascripts/scrollto.js"></script>
    <!--[if IE 6]><script type="text/javascript" src="/javascripts/belatedpng-0.0.7a.js"></script><![endif]-->
    <!--[if IE 6]><script type="text/javascript" src="/javascripts/ie6.js"></script><![endif]-->
  </head>
  
  <body class="home">
    <div id="header">
      <div id="content-header">
        <div class="logo"><a href="/"><img src="images/logo.png"/></a></div>
        <div class="menu">
          <a href="/blog/">Blog</a>
          <a href="/apps">App Store</a>
          <a href="/collaborations/">Collaborations</a>
          <a href="/jobs/">Jobs</a>
          <a href="/about_us/">About us</a> |
          <a href="/developers/">Developers</a> 
        </div>
      </div>
    </div>
    <div id="page">
      <%= yield %>
    </div>

    <script type="text/javascript">
      var prefineryJsHost = ("https:" == document.location.protocol) ? 'https://www.prefinery.com/' : 'http://www.prefinery.com/';
      if (document.location != 'http://localhost:3000/') {
        document.write(unescape("%3Cscript src='" + prefineryJsHost + "javascripts/widget.js' type='text/javascript'%3E%3C/script%3E"))
      }
    </script>
    <script type='text/javascript' charset='utf-8'>
      var prefinery_apply_options = {
        account: "lelylan",
        beta_id: "2001",
        link_id: "prefinery_apply_link"
      };
      Prefinery.apply(prefinery_apply_options);
    </script>

  </body>
</html>
