$linkColor:        #239cbb !default;
$linkColorHover:   #01cf9e !default;
$lelylanColor:     #239cbb !default;
$lelylanLineColor: #e8e8e8 !default;


#global-header .logo-animated {
  background-color: $lelylanColor;
  border-color: $lelylanColor;
}

#global-header .logo-animated:hover {
  color: #fff;
  width: 80px;
}

#global-header .brand {
  color: #333;
  display: block;
  float: left;
  font-size: 26px;
  font-weight: 200;
  left: 10px;
  padding: 8px 10px;
  position: absolute;
  text-shadow: 0 1px 0 #fff;
  top: 0px;
  z-index:800;
  text-decoration: none;

}

#global-header nav .wrapper {
  padding: 0;
}

.featurebanner {
  height: 520px;
  background: $lelylanColor url(header.jpg) center center;
  background-size: cover;
  width: 100%;
  position: relative
}


.people-header,
.developers-header,
.makers-header {
  background: none;
  height: 360px;
}
.featurebanner .bannercontent p,
.featurebanner .bannercontent h1 {
  margin-left: 25px;
  background: rgba(0,0,0,0.8) !important;
}

.featurebanner .bannercontent p {
  font-size: 28px;
  color: #fff;
}

.featurebanner .bannercontent p.beta {
  margin-top: 5px;
}

.featurebanner .playbutton {
  background-color: $lelylanColor;
}

.featurebanner .playbutton:hover {
  background-color:$linkColorHover;
}

#global-header nav .join {
  padding: 0;
  margin: 15px 0 0 15px;
}

#global-header nav .join a {
  padding-top: 6px;
  height: 30px;
  color: #fff
}

#global-header nav .join a:hover {
  color: #fff
}

a:hover {
  text-decoration: none;
  color: $linkColorHover;
}

a {
  -webkit-transition: color 0.3s ease, text-decoration 0.3s ease, background 0.3s ease;
  -moz-transition: color 0.3s ease, text-decoration 0.3s ease, background 0.3s ease;
  transition: color 0.3s ease, text-decoration 0.3s ease, background 0.3s ease;
}

.lelylan-icon {
  display: block;
  float: left;
  width: 28px;
  height: 28px;
  background-position: -40px 0px;
  margin-right: 8px;
  margin-top: 9px;
  background-image: url("circles.png");
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

#global-header nav li a {
  font-size: 12px;
}

.features {
  background-color: #fff;
}

.features .inner {
  padding-bottom: 40px;
}

.features .row {
  padding-top:20px;

}

.features .one {
  padding-top: 150px;
}

.features .inner .small {
  width: 30%;
}

.features .inner .big {
  width: 70%;
}

.features .inner .right img {
  float: right;
}

.features .intro {
  color: #333;
  font-size: 16px;
  line-height: 36px;
  text-transform: uppercase
}

.features .go {
  border-top: none;
  background-color: #e8e8e8;
}

.features .go .inner {
  margin-top: 40px;
  padding-bottom: 80px;
}

.features .go .inner h2 {
  margin-bottom: 30px;
}

a.button-add {
  background-color: $lelylanColor;
}

a.button-add:hover {
  color: #fff;
}

#global-footer #footer-nav {
  margin: 0;
  border-bottom: none;
  max-width: none;
  display: table;
  margin: 0 auto;
}

.features main p {
  font-size: 18px;
  font-weight: 200;
  color: #333;
}

.fb-like {
  margin-right: 25px;
}

.IN-widget {
  margin-left: 25px;
}

#global-footer #footer-nav ul {
  padding-left: 35px;
  float: left;
  padding-bottom: 5px;
}

#global-footer .social-footer {
  padding-top: 20px;
  border-top: 1px solid #333;
  margin-bottom:150px;
}

.features ul.nav-tabs,#section ol.nav-tabs{margin:15px 0 0 0;line-height:1.7em}
.features ul.nav-tabs li.active a,#section ol.nav-tabs li.active a{background-color:#F6F6F6}
.features ul.nav-tabs{padding-left:0}
.features div.tab-content pre{border-top:none}
.features pre {
  margin: 0;
  padding: 5px 0 5px 5px;
  background: #f6f6f6;
  border: 1px solid #ddd;
}

pre code, pre xmp {
  margin: 5px 3px;
}

.nav-tabs>li>a {
  font-size: 16px;
  font-weight: 200;
}

.nav-tabs>li.active a:hover,
.nav-tabs>li.active a {
  color: $linkColorHover;
}



.people .one {
  padding-top: 120px;
  padding-left: 75px;
}

.people .row h1 {
  border-top: none;
}

.people .row h2 {
  margin-bottom: 10px;
}

.people .row h2 a {
  color: $lelylanColor;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: normal;
}

.people .row h2 a:hover {
  color: $linkColorHover;
  text-decoration: none;
  box-shadow: none;
}

.people main p.description {
  margin: 5px 0 5px;;
}

.userName {
 font-size: 16px;
}

.answerElement {
  margin-bottom: 0;
}

.avatarRow {
  margin-bottom: 0;
}

.people hr {
  padding-bottom: 10px;
}

.people .go {
  margin-top: 80px;
}
